/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 25, 2016, 11:39:53 PM
    Author     : User
*/
/*Classes*/
body, h1, h2{
    font-family: Century Gothic, Tahoma, Meiryo;    
}

.center-block {
  width:100%;
  margin-left: auto;
  margin-right: auto;
}
